/*!
 * TheDevMystic Website - A Personal Blog, Research, Project Showcase Website.
 *
 * Under MIT License (Source Code) & Under All Right Reserved (Creative Works).
 * Please see `/LICENSE` for further information.
 * Author: TheDevMystic (Surya)
 */

/**
 * @file /src/styles/main.css
 * @description Main input css file.
 */

/** Brand Colors and Utility Classes. **/
@import "./colors/brand-colors-variables.css";
@import "./colors/brand-colors-classes.css";

/** Fluid Typescales, spaces and Grid. **/
@import "./fluid/fluid-typescales-variables.css";
@import "./fluid/fluid-spaces-variables.css";
@import "./fluid/fluid-grid-variables.css";

@import "./fluid/fluid-typescales-classes.css";
@import "./fluid/fluid-spaces-classes.css";
@import "./fluid/fluid-grid-classes.css";

/** Font. **/
@import "./font/font.css";

/** Typography. **/
@import "./typography/html.css";
@import "./typography/body.css";
@import "./typography/heading.css";
@import "./typography/paragraph.css";
@import "./typography/code.css";
@import "./typography/list.css";
@import "./typography/link.css";
@import "./typography/blockquote.css";
@import "./typography/caption.css";
@import "./typography/feature.css";
@import "./typography/table.css";

/** Header, Body and Footer wrappers. **/
@import "./wrappers/site-header.css";
@import "./wrappers/site-body.css";
@import "./wrappers/site-footer.css";

/** Components. **/
@import "./components/button.css";
@import "./components/card.css";
@import "./components/code-toolbox.css";
@import "./components/navigation-bar.css";
@import "./components/search.css";
@import "./components/pagination.css";
@import "./components/pillbar.css";

/** TailwindCSS Imports. **/
@tailwind base;
@tailwind components;
@tailwind utilities;

