/*!
 * TheDevMystic Website - A Personal Blog, Research, Project Showcase Website.
 *
 * Under MIT License (Source Code) & Under All Right Reserved (Creative Works).
 * Please see `/LICENSE` for further information.
 * Author: TheDevMystic (Surya)
 */

/**
 * @file /src/styles/main.css
 * @description Main input css file.
 */

/** Brand Colors and Utility Classes. **/
@import "./colors/brand-colors-variables.css";
@import "./colors/brand-colors-classes.css";

/** Fluid Typescales, spaces and Grid. **/
@import "./fluid/fluid-typescales-variables.css";
@import "./fluid/fluid-spaces-variables.css";
@import "./fluid/fluid-grid-variables.css";
@import "./fluid/line-height-variables.css";

@import "./fluid/fluid-typescales-classes.css";
@import "./fluid/fluid-spaces-classes.css";
@import "./fluid/fluid-grid-classes.css";
@import "./fluid/line-height-classes.css";

/** Font. **/
@import "./font/open-sans.css";
@import "./font/open-sans-fallback.css";
@import "./font/montserrat.css";
@import "./font/montserrat-fallback.css";
@import "./font/jetbrains-mono.css";
@import "./font/jetbrains-mono-fallback.css";
@import "./font/noto-math.css";
@import "./font/font-stack-variables.css";
@import "./font/font-stack-classes.css";

/** TailwindCSS Imports. **/
@tailwind base;
@tailwind components;
@tailwind utilities;

